body{
    background: #ebebeb;
}

/* off screen menu*/
.off-screen-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: -450px;
  max-width: 450px;
  height: 100vh;
  background-color: #333;
  color: #5e5c5c;
  transition: left 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  gap: 40px;
  z-index: 99999;
}

.nav {
    padding: 1rem;
    display: flex;
    background-color: #333;
}

.sticky-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fefefe; 
    padding: 0 20px;
    z-index: 999999;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.LumaWalk {
    font-size: 30px;
    margin-left: 80px;
    position: fixed;
}

.ham-menu {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 99999;
}

.ham-menu span {
    display: block;
    height: 4px;
    width: 80%;
    background-color: #3a3838;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

.ham-menu.open span {
    background-color: #d7d5d5;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.open span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.ham-menu.open span:nth-child(2) {
    opacity: 0;
}
.ham-menu.open span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

.off-screen-menu.open {
  left: 0;
}

.off-screen-menu ul {
    list-style:none;
    padding: 0px;
    margin: 0px;

}

.off-screen-menu li {
    justify-content: center;
    margin: 50px 0;
    display: flex;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.icon {
    width: 55px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* Icons & info */
.iconinfo {
    position: absolute;
    left: 90px;
    top: 0;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.9); 
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    width: 180px;              
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);;
}

.iconinfo h4 {
    color: #fcb0bb;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.iconinfo p {
    color: #f0dcdf;
    margin: 4px 0 0;
    font-size: 13px;
}

.off-screen-menu li:hover .iconinfo {
    opacity: 0.95;
    transform: translateY(-50%) translateX(5px);
}

/* Section */
.facts-section {
    text-align: center;
    padding: 40px;
}

/* Title */
.facts-title {
    font-family: serif;
    font-size: 32px;
    color: #5e0d19;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}

/* Carousel container */
.facts-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Arrows */
.arrow {
    border: none;
    font-size: 50px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #5e0d19;
    background-color: #f9dede;
    transition: 0.2s;
}

.arrow:hover {
    background-color: #f7caca;
}

/* Wrapper for sliding cards */
.facts-wrapper {
    width: 70vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

/* Cards */
.fact-card {
    width: 100%;
    height: 100%;
    background-color: #f3f2f2;
    padding: 40px;
    font-family: serif;
    font-size: 85px;
    color: #2c2c2c;
    box-shadow: 0 0 20px rgba(3, 3, 3, 0.25);
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0.4;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

/* Active (center) card */
.fact-card.active {
    left: 0;
    opacity: 1;
    z-index: 10;
}

/* Left faded card */
.fact-card.left {
    left: -100%;
    opacity: 0.2;
}

/* Right faded card */
.fact-card.right {
    left: 100%;
    opacity: 0.2;
}
