body{
    background: #ebebeb;
}

/* off screen menu*/
.off-screen-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: -450px;
  max-width: 450px;
  height: 100vh;
  background-color: #333;
  color: #5e5c5c;
  transition: left 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  gap: 40px;
}

.nav {
    padding: 1rem;
    display: flex;
    background-color: #333;
}

.sticky-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    background-color: #ffffff;
    z-index: 9999;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.LumaWalk {
    font-size: 30px;
    margin-left: 80px;
    position: fixed;
}

.ham-menu {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.ham-menu span {
    display: block;
    height: 4px;
    width: 80%;
    background-color: #3a3838;
    margin: 6px 0;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

.ham-menu.open span {
    background-color: #d7d5d5;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.open span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
}

.ham-menu.open span:nth-child(2) {
    opacity: 0;
}
.ham-menu.open span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

.off-screen-menu.open {
  left: 0;
}

.off-screen-menu ul {
    list-style:none;
    padding: 0px;
    margin: 0px;

}

.off-screen-menu li {
    justify-content: center;
    margin: 50px 0;
    display: flex;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.icon {
    width: 55px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* Icons & info */
.iconinfo {
    position: absolute;
    left: 90px;
    top: 0;
    transform: translateY(-50%);
    background: rgba(20, 20, 20, 0.9); 
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    width: 180px;              
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);;
}

.iconinfo h4 {
    color: #fcb0bb;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.iconinfo p {
    color: #f0dcdf;
    margin: 4px 0 0;
    font-size: 13px;
}

.off-screen-menu li:hover .iconinfo {
    opacity: 0.95;
    transform: translateY(-50%) translateX(5px);
}

/* Title */
.title {
    text-align: center;
    margin-top: 100px;
}
.title h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #5e0d19;
}
.title p {
    font-size: 16px;
    color: #494747;
}

.main-container {
    display: flex;
    align-items: flex-start;   
    justify-content: center;   
    gap: 40px;                 
    padding: 40px;
}

.text-container {
    background: #fdfcfc;
    border: 1px solid #5e0d19;
    border-radius: 12px;
    padding: 25px;
    max-width: 500px;
}

.headings{
    font-family: serif;
    font-size:130%;
    Margin-top: 4%;
}

.points {
    font-family: serif;
    font-size: 90%;
    font: bold;
}

/* Self Defence Icon */
.selfdefenceicon {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-top: -150px;
}

@media (max-width: 600px) {
    .content-box {
        flex-direction: column;
        text-align: center;
    }
}
.selfdefence-icon {
        margin-bottom: 20px;
}

/* Techniques Sections*/
.Essential-techniques {
    padding: 40px;
    background-color: #e6dede;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    border-radius: 10px;
}

/* Section Title */
.techniques-heading {
    font-family: serif;
    font-size: 28px;
    color: #5e0d19;
    text-align: center;
    margin-bottom: 10px;
}

.techniques-subtitle {
    font-family: serif;
    font-size: 16px;
    color: #494747;
    text-align: center;
    margin-bottom: 30px;
}

/* Container layout */
.technique-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Technique card */
.technique {
    width: 500px;                                                                                           
    background: #fdfcfc;
    border: 1px solid #5e0d19;
    border-radius: 12px;
    padding: 20px;
    display: grid; 
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto auto;
    column-gap: 20px;               
    row-gap: 10px;                   
    align-items: start;     
    box-sizing: border-box;
    cursor: pointer;
}

.technique:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
    background-color:#f8ebed;
}

/* Icons */
.technique-icon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 1;              
}

/* Text block */
.technique-text-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Headings inside card */
.technique-heading {
    font-family: serif;
    font-size: 20px;
    color: #5e0d19;
    margin: 0;
}

/* Description */
.technique-description {
    font-family: serif;
    font-size: 15px;
    color: #494747;
    margin: 0;
}

/* Label */
.technique-label {
    grid-column: 1;
    grid-row: 2;
    font-family: serif;
    font-size: 12px;
    color: #5e0d19;
    font-weight: bold;
    margin-top: -5px;
    padding: 4px 10px;
    border-radius: 8px;
    background: #ffcbd3;
    width: fit-content;

}

/* Mobile layout */
@media (max-width: 768px) {
    .technique {
        width: 90%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .technique-text-block {
        text-align: center;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.modal-box {
    background: #fff;
    width: 70%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    animation: popup 0.3s ease;
    font-family: serif;
    color: #333333;
    position: relative;
}

/* Close button (popup card)*/
.modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    color: #5e0d19;
}

/* Animation */
@keyframes popup {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.link-box {
    text-align: center;
    padding: 20px;
}

.safe-btn {
    display: inline-block;
    background: #5e0d19;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}